<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>

<!-- <div id="divChart">
    <canvas id="myChart" width="400" height="400"></canvas>
</div> -->

<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">Sales Overview</h3>
                                <h6 class="card-subtitle">Ample Admin Vs Pixel Admin</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <center>
                            <div id="divChart">
                                <canvas id="myChart" width="400" height="400"></canvas>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Our Visitors </h3>
                <h6 class="card-subtitle">Different Devices Used to Visit</h6>
            </div>
            <div class="card-block text-center ">
                <center>
                    <div id="divChart2">
                        <canvas id="myChart2" width="400" height="400"></canvas>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>
<!-- Row -->